.chat {
    width: 100%;
    .day-container {
        .day {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
            font-size: 12px;
            font-weight: 700;
            color: $light-gray;
        }
        .message-container {
            display: flex;
            margin-bottom: 45px;
            // inverse
            &.right {
                flex-direction: row-reverse;
                .message {
                    border-radius: 5px 0 5px 5px;
                    &:before {
                        left: inherit;
                        right: -10px;
                        background-image: radial-gradient(circle at 100% 100%, transparent 10px, $lighter-gray 10px)
                    }
                    .time {
                        left: inherit;
                        right: 0;
                    }
                }
            }
            // end inverse
            .image {
                width: 10%;
                max-width: 50px;
                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
            }
            .message {
                flex: 1;
                position: relative;
                margin: 0 10px;
                font-size: 12px;
                padding: 10px;
                background: $lighter-gray;
                color: $primary-font-color;
                border-radius: 0 5px 5px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: -10px;
                    top: 0;
                    background-image: radial-gradient(circle at 0 100%, transparent 10px, $lighter-gray 10px)
                }
                .time {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    font-size: 10px;
                    font-style: italic;
                    color: $light-gray;
                }
            }

        }
    }
}

.input-area {
    width: 100%;
    border-top: 1px solid $light-gray;
    padding: 15px;
    input {
        background: transparent;
        border: none;
    }
}


/**
    Dashboard Messages page
 */
#dashboard-chat-page {
    display: flex;
    background: $white;
    border-radius: 5px;
    @include box_shadow_components();
    .chat-list {
        min-width: 200px;
        width: 35%;
        max-width: 300px;
        border-right: 1px solid $lighter-gray;
        .title {
            font-size: 25px;
            border-bottom: 1px solid $lighter-gray;
            padding: 15px;
        }
        .chat-list-item {
            padding: 15px;
            cursor: pointer;
            display: flex;
            border-bottom: 1px solid $lighter-gray;
            &.unread {
                background: $super-lighter-gray;
            }
            .image {
                width: 50px;
                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
            }
            .details {
                flex: 1;
                .sender {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    span {
                        font-size: 10px;
                        display: block;
                    }
                }
            }
        }
    }
    .chat {
        flex: 1;
        padding: 15px;
    }
}



