#shop {
    h5 {
        font-size: 14px;
    }
    .map-container {
        height: 200px;
        width: 100%;
        border-radius: 0 0 5px;
        border-top: 5px solid #7e72f2;
        box-shadow: 2px 2px 3px $lighter-gray;
        .map {
            width: 100%;
            height: 100%;
        }
    }
    .opening-hours {
        margin-top: 20px;
        div {
            font-size: 12px;
        }
    }

    .queue-container {
        .details {
            padding: 15px;
            background: $primary-background;
            color: $white;
            .waiting-time {
                font-size: 10px;
                span {
                    font-size: 20px;
                }
            }
            .waiting-count {
                font-size: 10px;
                span {
                    font-size: 20px;
                }
            }
        }
        button {
            margin-top: 20px;
        }
    }

}