// // Body
$body-bg: #f7f9fb;

// Cards
$card-spacer-x: 0.9375rem;
$card-spacer-y: 0.625rem;
$card-cap-bg: #fbfbfb;
$card-border-color: #e8eced;

// Borders
$border-radius: .125rem;
$border-radius-lg: .2rem;
$border-radius-sm: .15rem;

// Nav Pills
$nav-pills-border-radius: 0;

/* Bootstrap media queries */
$screen-xs-min: 0px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xs-max: 575.98px;
$screen-sm-max: 767.98px;
$screen-md-max: 991.98px;
$screen-lg-max: 1199.98px;
$screen-xl-max: 3000px;

// Colors
$white: white;
$super-lighter-gray: #f5f5f5;
$lighter-gray: #e9e9e9;
$light-gray: #bcbcbc;
$gray: #9e9e9e;

$primary-background: #7E72F2;
$secondary-background: #484b4f;

$primary-font-color: #484b4f;
$secondary-front-color: #7E72F2;

