.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

#admin-area {
    .col-md-6:not(:first-child) {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    .col-md-6:not(:last-child) {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
    .col-md-6:first-child {
        padding-left: 15px;
    }
    .col-md-6:last-child {
        padding-right: 15px;
    }
    .card.welcome-card {
        background: linear-gradient(201.26deg, #A59BFF 0%, #7E72F2 100%);
        position: relative;
        height: 200px;
        .decoration-left {
            position: absolute;
            left: 0;
            top: 0;
            width: 30%;
        }
        .decoration-right {
            position: absolute;
            right: 0;
            top: 0;
            width: 30%;
        }
        .icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 10%;
            width: 80px;
        }
        .title {
            padding-top: 100px;
            text-align: center;
            color: white;
            font-weight: 600;
            font-size: 18px;
        }
        .sub-title {
            text-align: center;
            color: white;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}