.navbar {
    font-weight: 600;
    margin: 15px;
    border-radius: 5px;
    @include box_shadow_components()
}

.navbar-toggler {
    border: none !important;
}

.nav-item {
    .dropdown-menu {
        border: none;
        margin-top: .5rem;
        border-top: 1px solid #f2f2f2 !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    }
}

.nav-link {
    .svg-inline--fa {
        font-size: 1.4rem;
    }
}

a.drop-down-user {
    position: relative;
    span {
        position: absolute;
        color: red;
        bottom: -1px;
        left: 50px;
        font-size: 10px;
        text-transform: uppercase;
    }
}

.admin-layout {
    display: flex;
    .sidebar {
        width: 15vw;
        max-width: 280px;
        min-width: 250px;
        min-height: 100vh;
        background: white;
        box-shadow: 4px 0 6px -1px $lighter-gray;
        padding: 15px;
        .logo {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 15px;
        }
        .menu {
            margin-top: 15px;
            .menu-label {
                font-size: 12px;
                text-transform: uppercase;
                color: $light-gray;
            }
            ul {
                list-style: none;
                padding: 0;
                li {
                    padding: 10px 0;
                    a {
                        font-size: 14px;
                        display: block;
                        padding: 5px;
                        border-radius: 5px;
                        font-weight: 500;
                        &.active,
                        &:hover{
                            background: $secondary-front-color;
                            color: white;
                            box-shadow: 1px 1px 3px 0 #828282;
                        }
                        svg {
                            margin-right: 5px;
                        }
                    }
                }
            }

        }

    }
    .admin-content {
        flex: 1;
    }
}

.merchant-layout {
    .header-container {
        height: 18vw;
        min-height: 200px;
        max-height: 400px;
        padding-top: 10px;
        background-position: center;
        background-size: cover;
        nav {
            margin-top: 0;
        }
    }
    .menu {
        width: 100%;
        overflow-x: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        ul {
            list-style: none;
            width: 100%;
            padding: 0;
            color: $white;
            background: $primary-background;
            white-space: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            li {
                display: inline-block;
                padding: 10px 15px 7px;
                border-bottom: 3px solid $primary-background;
                color: $light-gray;
                &.active {
                    color: $white;
                    border-bottom-color: $white;
                }
            }
        }
    }
}