<template>
  <div>
    Map / Home page

    <h3>Company List</h3>
    <ul>
      <li v-for="merchant in merchants">
        <router-link :to="{ name: 'merchant.home', params: { slug: merchant.slug } }" class="nav-link" active-class="active">
          {{ merchant.fantasy_name }} - Owner: {{merchant.users[0].email}} ## {{merchant.users[0].id}}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
export default {
  layout: 'default',

  metaInfo () {
    return { title: this.$t('home') }
  },

  mounted () {
    this.$store.dispatch("companies/fetch");
  },

  computed: {
    ...mapGetters({
      merchants: 'companies/list'
    })
  },

  methods: {

  }
}
</script>
