<template>
    <div class="row">
        <div class="col-md-4">
            <card :title="$t('business_information')">
                <ul>
                    <li>Company Name: {{ company.name }}</li>
                    <li>Fantasy Name: {{ company.fantasy_name }}</li>
                    <li>Description: {{ company.description }}</li>
                    <li>Address: {{ company.address }}</li>
                    <li>Phone: {{ company.phone }}</li>
                    <li>Contact Email: {{ company.email }}</li>
                    <li>Member since: {{ company.created_at }}</li>
                </ul>
            </card>
            <card :title="$t('customize_business')">
                <div>
                    {{ $t('upload_your_logo') }}
                </div>
                <div>
                    {{ $t('upload_a_background_image') }}
                </div>
                <div>
                    {{ $t('theme') }}
                </div>
            </card>
            <card :title="$t('social_networks')">
                <div>
                    Instagram
                </div>
                <div>
                    Facebook
                </div>
            </card>
        </div>
        <div class="col-md-8">
            <card :title="$t('about')">
                Please edit your about information
            </card>
        </div>
    </div>
</template>

<script>
  import Form from 'vform'
  import { mapGetters } from 'vuex'

  export default {
    scrollToTop: false,

    metaInfo () {
      return {title: this.$t('settings')}
    },

    data() {
      return {
        slug: this.$route.name,
      }
    },


    computed: {
      ...mapGetters({
        company: 'companies/company'
      })
    },

    created () {
    },

    methods: {
    }
  }
</script>
