<template>
    <div class="row">
        <div class="col-md-6">
            <card class="welcome-card">
                <img src="./../../../images/decore-left-dashboard.png" alt="" class="decoration-left">
                <img src="./../../../images/decore-right-dashboard.png" alt="" class="decoration-right">
                <img src="./../../../images/admin-dashboard-welcome-card-icon.png" alt="" class="icon">
                <div class="title">Welcome, Ezequiel</div>
                <div class="sub-title">Leave your queues in our hands! <a href="/">Give me a tour</a></div>
            </card>
            <card>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </card>
        </div>
        <div class="col-md-6">
            <card>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </card>
        </div>
    </div>
</template>

<script>
  import Form from 'vform'
  import { mapGetters } from 'vuex'

  export default {
    scrollToTop: true,

    metaInfo () {
      return {title: this.$t('settings')}
    },

    data() {
      return {

      }
    },


    computed: mapGetters({
    }),

    created () {
    },

    methods: {
    }
  }
</script>
