<template>
  <div class="row" id="admin-area">
    <div class="col-md-12" v-if="!isIndex">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>

    <div class="col-md-12" v-else="">
      <Home/>
    </div>
  </div>
</template>

<script>
import Home from './home.vue'
import { mapGetters } from 'vuex'
import collect from 'collect.js'

export default {
  layout: 'DashboardLayout',
  middleware: 'merchant',

  components: {
    Home
  },

  created () {
    let company = null;
    if ( !collect(this.user.companies).isEmpty() ) {
      /**
       * set by default first company retrieved.
       * We should implemente something more clever at this point.
       * The original idea was to have multiple companies per user.
       * So, we should have a company selector at some point.
       * @TODO
       */
      company = this.user.companies[0];
    }
    this.$store.commit('companies/setCompany', company)
    this.listenNotification('Merchant', this.company.id, this.onEventListened)
  },

  computed: {
    ...mapGetters ({
      user: 'auth/user',
      company: 'companies/company'
    }),
    isIndex () {
      console.log('LOG', this.$route.name);
      return this.$route.name === 'dashboard.index';
    },
  },

  methods: {
    onEventListened (event) {
      console.log('LOG', event);
      alert('Llego una notification');
    }
  }
}
</script>
