<template>
    <div id="dashboard-chat-page">
        <ChatList/>
        <ChatMessages/>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import ChatMessages from './../../components/ChatMessages.vue'
  import ChatList from './../../components/ChatList.vue'

  export default {
    scrollToTop: true,
    name: 'MessagesPage',

    components: {
      ChatList,
      ChatMessages
    },

    metaInfo () {
      return {title: this.$t('settings')}
    },

    data () {
      return {}
    },

    computed: {
      ...mapGetters({
        user: 'auth/user',
        company: 'companies/company',
      })
    },

    mounted () {
    },

    methods: {},

    watch: {
    }
  }
</script>
