<template>
    <div class="chat">
        <template v-if="userCompany">
            <div class="day-container" v-if="messagedGroupByDay" v-for="messages, day in messagedGroupByDay">
                <div class="day">{{ displayDay(day) }}</div>

                <template v-for="message in messages">

                    <div class="message-container" v-if="message.sent_by_company">
                        <div class="image">
                            <img src="//via.placeholder.com/50" alt="">
                        </div>
                        <div class="message">
                            {{ message.message }}
                            <div class="time">{{ timeAgo(message.created_at) }}</div>
                        </div>
                    </div>

                    <div class="message-container right" v-else="">
                        <div class="image">
                            <img :src="`${user.photo_url}`" alt="">
                        </div>
                        <div class="message">
                            {{ message.message }}
                            <div class="time">{{ timeAgo(message.created_at) }}</div>
                        </div>
                    </div>

                </template>

            </div>

            <div v-else>
                <h5>Send a message please</h5>
            </div>

            <!--Form messages input-->
            <div class="input-area">
                <input id="btn-input" type="text" name="message" class="form-control input-sm"
                       placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">

                <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
                    Send
                </button>
            </span>
            </div>
        </template>


    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import collect from 'collect.js';

  export default {
    name: 'ChatMessages',

    data () {
      return {
        messagedGroupByDay: false,
        newMessage: ''
      }
    },

    mounted () {
    },

    computed: {
      ...mapGetters({
        messages: 'chat/messages',
        user: 'auth/user',
        userCompany: 'chat/userCompany'
      }),
    },

    methods: {
      timeAgo (dateTime) {
        return this.moment(dateTime).fromNow()
      },
      displayDay (dateTime) {
        return this.moment(dateTime).format('LL')
      },

      sendMessage() {
        let message = {
          user_id: this.userCompany.user_id,
          company_id: this.userCompany.company_id,
          sent_by_company: null,
          created_at: this.moment().format('YYYY-MM-DD HH:mm:ss'),
          message: this.newMessage
        }

        if (this.hasRole('Merchant')) {
          message.sent_by_company = true;
        } else if (this.hasRole('Client')) {
          message.sent_by_company = false;
        }

        this.$store.dispatch('chat/addMessage', message)
        this.newMessage = ''
      }
    },

    watch: {
      messages () {
        if (this.messages) {
          let collection = collect(this.messages);
          this.messagedGroupByDay = collection.groupBy((item, key) => item.created_at.substring(0, 10)).all();
        }
      },

      userCompany () {
        if (this.userCompany) {
          this.listenMessageSent(this.userCompany.user_id, this.userCompany.company_id)
        }
      }
    }
  }
</script>
