<template>
    <div class="chat-list">
        <div class="title">
            {{ $t('chat') }}
        </div>
        <template v-for="chat in chatsPerRole">
            <div class="chat-list-item" :class="chat.unread ? 'unread' : 'read'" @click="loadMessages(chat.company_id, chat.user_id)">
                <div class="image">
                    <img :src="chat.from_profile_image" alt="" style="max-width: 35px">
                </div>
                <div class="details">
                    <div class="sender">
                        {{ chat.from_name }} <span>To: {{ chat.to_name }}</span>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'ChatList',

    computed: {
      ...mapGetters({
        user: 'auth/user',
        chats: 'chat/chats',
        company: 'companies/company'
      }),
      chatsPerRole () {
        let chats = [];
        if (this.hasRole('Client')) {
          this.chats.forEach((chat) => {
            chats.push({
              from_name: chat.company.fantasy_name,
              to_name: chat.user.name,
              from_profile_image: chat.company.profile_image,
              company_id: chat.company_id,
              user_id: chat.user_id,
              unread: chat.unread,
            });
          })
        } else if (this.hasRole('Merchant')) {
          this.chats.forEach((chat) => {
            chats.push({
              from_name: chat.user.name,
              to_name: chat.company.fantasy_name,
              from_profile_image: chat.user.photo_url,
              company_id: chat.company_id,
              user_id: chat.user_id,
              unread: chat.unread,
            });
          })
        }
        return chats;
      }
    },

    data () {
      return {
        newMessage: ''
      }
    },

    created () {
      this.$store.dispatch('chat/fetchChats');
      if (this.hasRole('Merchant')) {
        this.listenChatList(this.company.id)
      }
    },

    methods: {
      loadMessages (company_id, user_id) {
        this.$store.dispatch('chat/fetchMessages', {
          company_id: company_id,
          user_id: user_id
        })
      },
    }
  }
</script>

<style scoped="sass">

</style>
