<template>
  <div class="sidebar">
    <div class="logo">
      <router-link :to="{ name: user ? 'home' : 'welcome' }" class="navbar-brand">
        {{ appName }}
      </router-link>
    </div>

    <div class="menu">
      <div class="menu-label">
        {{ $t('general') }}
      </div>
      <ul>
        <li>
          <router-link :to="{ name: 'dashboard.index' }" class="menu-link" active-class="active" exact>
            <fa icon="chart-line" fixed-width />
            {{ $t('dashboard') }}
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'dashboard.business' }" class="menu-link" active-class="active" exact>
            <fa icon="building" fixed-width />
            {{ $t('my_business') }}
          </router-link>
        </li>
      </ul>

      <div class="menu-label">
        {{ $t('resources') }}
      </div>
      <ul>
        <li>
          <router-link :to="{ name: 'dashboard.staff' }" class="menu-link" active-class="active" exact>
            <fa icon="user-ninja" fixed-width />
            {{ $t('my_staff') }}
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'dashboard.waiting-rooms' }" class="menu-link" active-class="active" exact>
            <fa icon="user-clock" fixed-width />
            {{ $t('waiting_rooms') }}
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'home' }" class="menu-link" active-class="active" exact>
            <fa :icon="['far', 'envelope']" fixed-width />
            {{ $t('email') }}
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'dashboard.messages' }" class="menu-link" active-class="active" exact>
            <fa :icon="['far', 'comments']" fixed-width />
            {{ $t('messages') }}
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'home' }" class="menu-link" active-class="active" exact>
            <fa :icon="['fas', 'headset']" fixed-width />
            {{ $t('push_notification') }}
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SidebarDashboard',

  components: {
  },

  data: () => ({
    appName: window.config.appName
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
  }
}
</script>

<style scoped>
</style>
