<template>
  <div id="shop">
      <div class="row">
          <div class="col-6">
              <h5 v-if="company">{{company.fantasy_name}}</h5>

              <div class="map-container" v-if="company">

                  <!--Premise markers-->
                  <google-map
                          :center="{ lat: 38.4161, lng: 63.6167 }"
                          :zoom="8"
                          :options="{ disableDefaultUI: true}" class="map">
                      <google-marker
                              :position="{ lat: 38.4161, lng: 63.6167 }">
                      </google-marker>
                  </google-map>
              </div>

              <div class="opening-hours">
                  <h5>Opening hours</h5>
                  <div>Monday 9am to 10pm</div>
                  <div>Tuesday 9am to 10pm</div>
                  <div>Wednesday 9am to 10pm</div>
                  <div>Friday 9am to 10pm</div>
                  <div><strong>Saturday 9am to 10pm</strong></div>
                  <div>Sunday 9am to 10pm</div>
              </div>
          </div>
          <div class="col-6">
              <div class="queue-container">
                  <h5>Waiting time now</h5>
                  <div class="details">
                      <div class="waiting-time"><span>35</span>min</div>
                      <div class="waiting-count"><span>3</span> persons ahead</div>
                  </div>
                  <button class="btn btn-primary">Join to queue!</button>
                  <button class="btn btn-primary">Send a message</button>
              </div>
              <br>
              <br>
              <h5>My turns</h5>
              <ul>
                  <li v-for="turn in myTurns">
                      Turn #{{ turn.id }} Queue #{{ turn.queue_id }} | Turn Status {{ turn.turn_status_id}}
                  </li>
              </ul>
          </div>
      </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    scrollToTop: true,

    metaInfo () {
      return {title: this.$t('settings')}
    },

    mounted() {
      this.$store.dispatch("turns/fetch", 1);

    },

    data() {
      return {
        slug: this.$route.params.slug,
      }
    },


    computed: {
      ...mapGetters({
        company: 'companies/company',
        myTurns: 'turns/list', // nahue creo que esto esta mal... tendriamos que enviar algun paramentro, tipo la queue id o algo mas. fue solo un ejemplo..
      }),
    },

    created () {
    },

    methods: {
    }
  }
</script>
