<template>
    <div>
        <transition name="fade" mode="out-in">
            <router-view/>
        </transition>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    middleware: 'auth',
    layout: 'MerchantLayout',

    async mounted() {
      let slug = this.$route.params.slug;
      await this.$store.dispatch("companies/getCompanyData", slug);
    },

    created () {
      this.listenNotification('Client', this.user.id, this.onEventListened)
    },

    computed: {
      ...mapGetters({
        company: 'companies/company',
        user: 'auth/user',
      })
    },

    methods: {
      onEventListened (event) {
        alert('Evento para el cliente')
      }
    }
  }
</script>

