<template>
    <div id="chat-page">
        <ChatMessages/>
    </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import ChatMessages from './../../components/ChatMessages.vue'

  export default {
    scrollToTop: true,
    name: 'MessagesDirect',

    components: {
      ChatMessages,
    },

    metaInfo () {
      return {title: this.$t('settings')}
    },

    data() {
      return {}
    },

    computed: {
      ...mapGetters({
        user: 'auth/user',
        company: 'companies/company',
      })
    },

    mounted () {
      /**
       * This means the company was loaded on another page.
       */
      if (this.company)
        this.dispatchMessages();
    },

    methods: {
      /**
       * Load messages when company is loaded
       * working for front end, not for dashboard
       */
      dispatchMessages () {
        this.$store.dispatch('chat/fetchMessages', {
          company_id: this.company.id,
          user_id: this.user.id,
        })
      }
    },

    watch: {
      /**
       * There is a small delay due its loaded from index component
       */
      company () {
        this.dispatchMessages();
      }
    }
  }
</script>
