<template>
  <div>
    Whats new, pulling images from fb or instagram
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    scrollToTop: true,
    name: 'WhatsNew',

    metaInfo () {
      return {title: this.$t('settings')}
    },

    data() {
      return {

      }
    },


    computed: mapGetters({
    }),

    created () {
    },

    methods: {
    }
  }
</script>
