<template>
  <div class="admin-layout">
    <SidebarDashboard/>
    <div class="admin-content">
      <navbar />
      <div class="container-fluid mt-4">
        <child />
      </div>
    </div>

  </div>
</template>

<script>
  import Navbar from '~/components/Navbar'
  import SidebarDashboard from '~/components/SidebarDashboard'

  export default {
    name: 'DashboardLayout',

    components: {
      Navbar,
      SidebarDashboard
    },

    data: () => ({
      appName: window.config.appName
    }),

  }
</script>
