<template>
    <div class="main-layout">
        <div class="header-container">
            <navbar/>
        </div>

        <div class="container-fluid mt-4">
            <child/>
        </div>
    </div>
</template>

<script>
  import Navbar from '~/components/Navbar'

  export default {
    name: 'default',

    components: {
      Navbar
    },

    data() {
      return {
      }
    }
  }
</script>
