<template>
    <div class="merchant-layout">
        <div class="header-container" :style="`background-image: url(${backgroundHeader})`">
            <navbar/>
        </div>
        {{user}}
        <div class="menu">
            <ul>
                <router-link :to="{ name: 'merchant.home' }" tag="li" class="menu-link" active-class="active" exact>
                    {{ $t('home') }}
                </router-link>
                <router-link :to="{ name: 'merchant.messages' }" tag="li" class="menu-link" active-class="active" exact>
                    {{ $t('messages') }}
                </router-link>
                <router-link :to="{ name: 'merchant.about' }" tag="li" class="menu-link" active-class="active" exact>
                    {{ $t('about') }}
                </router-link>
                <router-link :to="{ name: 'merchant.what-s-new' }" tag="li" class="menu-link" active-class="active" exact>
                    {{ $t('whats_new') }}
                </router-link>
            </ul>
        </div>

        <div class="container-fluid mt-4">
            <child/>
        </div>
    </div>
</template>

<script>
  import Navbar from '~/components/Navbar'
  import { mapGetters } from 'vuex'

  export default {
    name: 'MerchantLayout',

    components: {
      Navbar
    },

    computed: {
//      ...mapGetters({
//        'user': 'auth/user'
//      })
    },

    data() {
      return {
        backgroundHeader: '//via.placeholder.com/1920x400',
      }
    },

    watch: {
//      user () {
//        if (this.user) {
//
//        }
//      }
    }
  }
</script>
